body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://images.idgesg.net/images/article/2021/01/cyber-resilience-shutterstock_635387594-1200x800-100872880-large.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
    position: fixed;
    color: ghostwhite;
    font-family: Courier, Arial, serif;
    text-align: center;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    background-color: black;
    opacity: 0.7;
}